*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}

.container {
    
}

.background {
    background-color: white;
    outline: 2px solid red;
}

.information {
    outline: 2px solid red;
    background-color: white;
}

.description {
    outline: 2px solid red;
}

.form {
    outline: 2px solid red;
}

.submit {
    outline: 2px solid red;
}